<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../bower_components/web-component-tester/browser.js"></script>
    <script src="../node_modules/chai-spies/chai-spies.js"></script>

    <!-- Step 1: import the element to test -->
    <link rel="import" href="../<%= elementName %>.html">
  </head>
  <body>

    <!-- You can use the document as a place to set up your fixtures. -->
    <<%= elementName %>></<%= elementName %>>

    <script>
      var myEl = document.querySelector('<%= elementName %>');

      suite('<<%= elementName %>>', function() {

        test('defines the "author" property', function() {
          assert.equal(myEl.author.name, 'Luis Recio');
        });

        test('updateContent', function() {
          var payload = {"data": "HI ALL!"};
          myEl.updateContent(payload);
          assert.equal(myEl.answer, "HI ALL!" );
        });

      });
    </script>

  </body>
</html>
