<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title><%= elementName %> Demo</title>
    <script src="../bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../mock.js"></script>
    <link rel="import" href="../bower_components/polymer/polymer.html">
    <link rel="import" href="../bower_components/bbva-util-mocker/bbva-util-mocker.html">
    <link rel="import" href="../<%= elementName %>.html">
  </head>
  <body>

    <p>An example of <code>&lt;<%= elementName %>&gt;</code>:</p>

    <div id="component">

    </div>


    <bbva-util-mocker component-name="<%= elementName %>"></bbva-util-mocker>

  <script>

    var mocker = document.querySelector("bbva-util-mocker");

    // Config callbacks
    mocker.config({
      'say_hello': function(payload){
        mocker.dispatch_publish_answer(mocker.mock.publish_answer);
      },
    })

    </script>

  </body>
</html>
