<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="styles/main.css">
  <script src="components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="components/polymer/polymer.html">
  <link rel="import" href="components/lego-core/lego-core.html">
</head>

<body unresolved fullbleed layout vertical>
  <template id="app">
    <lego-core app-name="lego-angel" config-url="config/config.json"></lego-core>

  </template>
  <script src="scripts/pgevolution-dist.js"></script>


  <script>
  /*LOGIN_START*/ //do not change, it will be replaced in production
  if(lego-angel.LoginLib && lego-angel.config.LOGIN.autologin) {
    lego-angel.LoginLib.doLogin(lego-angel.config.LOGIN.user,
      lego-angel.config.LOGIN.pass)
      .then(function() {
        console.log('Login OK!!');
        lego-angel.init();
      }, function(err) {
        console.log('Login Error!!');
      });
  } else {
    //redirect to login
  }
  /*LOGIN_END*/
  </script>

</body>

</html>
