link(rel='import', href='../../../bower_components/polymer/polymer.html')

polymer-element(name='<%= elementName %>')
  template
    link(rel='stylesheet', href='<%= elementName %>.css')
    h1 This element has a ready() method.
    span#el Not ready...
    include ../../../templates/foot.jade
  script(src="<%= elementName %>.js")
